html {
    padding: 5%;
    margin: 0%;
    background-color:  #21222c;
}

.body {
    padding: 2.7%;
    margin: 0%;
    border: 0.3rem solid #f8f8f2;
    border-radius: 1rem;
    background-color:  #282a36fa;
}

h1, h2, h3, h4, h5, h6, p, label {
    font-family: 'Orbitron', sans-serif;
}

header {
    margin: 0%;
    padding: 0%;
}

main {
    text-align: justify;
}

footer {
    text-align: center;
}

h1 {
    font-style: bold;
    color: 	#bd93f9;
    text-align: center;
}

h2 {
    font-style: normal;
    color: 	#bd93f9;
}

p {
    font-style: normal;
    color: 	#6272a4;
}

li {  
    color: 	#8be9fd;
}

small {
    font-size: xx-small;
    color: 	#ff5555;
}

a {
    color: 	#8be9fd;
    text-decoration-line: none;
}

a:hover {
    color: 	#64a8b8;
    cursor: pointer;
}

.centertext {
    text-align: center;
}

.headercard {
    text-align: justify;

    background-color:  #282a36;

    display: inline-block;
    padding: 1.3rem 3.2rem;
    margin-top: 2%;
    margin-bottom: 5%;
    border: 0.1rem solid #f8f8f2;
    border-radius: 1rem;

    -webkit-box-shadow: 11px 10px 20px 10px rgba(0,0,0,0.95); 
    box-shadow: 11px 10px 20px 10px rgba(0,0,0,0.95); 
}

.myimage {
    display: inline-block;
    margin: 2%;
    border: 0.1rem solid #f8f8f2;
    border-radius: 100%;
    width: 9.90625rem; 
    height: 10.625rem;
}

.myimagetext {
    font-family: 'Orbitron', sans-serif;
    font-size: 0.88rem;
    color: #ffb86c;

    display: inline-block;
    position: relative;
    bottom: 2.2rem;
    left: 1.5rem;
}

.imagelink {
    color: transparent;
    border-radius: 100%;
}

.imagelink:hover {
    opacity: 0.2;
}

.pagelink {
    text-align: center;
}

.pagelinktext {
    color: #50fa7b;
    font-style: normal;
}

.pagelinktext:hover {
    color: #3fbb5e;
    font-style: normal;
}

.footertext {
    color: 	#bd93f9;
}

.h2center {
    text-align: center;
}

.pheader {
    color: #50fa7b;
}

.ulunstyle {
    list-style-type: none;
    margin: 0%;
    padding: 0%; 
}

.topli {
    color: #f1fa8c;
}
