html {
    padding: 5%;
    margin: 0%;
    background-color:  #21222c;
}

body {
    padding: 2.7%;
    margin: 0%;
    border: 0.3rem solid #f8f8f2;
    border-radius: 1rem;
    background-color:  #282a36fa;
}

h1, h2, h3, h4, h5, h6, p, label {
    font-family: 'Orbitron', sans-serif;
}

header {
    margin: 0%;
    padding: 0%;
}

main {
    text-align: justify;
}

footer {
    text-align: center;
    user-select: none;
}

h1 {
    font-weight: 900;
    color: 	#bd93f9;
    text-align: center;
}

h2 {
    font-weight: 600;
    color: 	#bd93f9;
}

p {
    font-weight: 400;
    color: 	#6272a4;
}

li {  
    color: 	#8be9fd;
}

small {
    font-size: xx-small;
    color: 	#ff5555;
}

a {
    color: 	#8be9fd;
    text-decoration-line: none;
}

a:hover {
    color: 	#64a8b8;
    cursor: pointer;
}

.centertext {
    text-align: center;
}

.headercard {
    text-align: center;

    background-color:  #282a36;

    display: inline-block;
    padding: 3% 5%;
    margin-top: 2%;
    margin-bottom: 5%;
    border: 0.1rem solid #f8f8f2;
    border-radius: 1rem;

    -webkit-box-shadow: 11px 10px 20px 10px rgba(0,0,0,0.95); 
    box-shadow: 11px 10px 20px 10px rgba(0,0,0,0.95); 
}

.myimage {
    display: inline-block;

    border: 0.1rem solid #f8f8f2;
    border-radius: 100%;

    width: 9.90625rem; 
    height: 10.625rem;

    user-select: none;
}

.myimagetext {
    font-family: 'Orbitron', sans-serif;
    font-size: 0.88rem;
    text-align: justify;

    display: inline-block;
    padding-top: 10%;
    padding-left: 3.5%;

    position: relative;
    bottom: 1.9rem;
}

.easteregg:hover {
    opacity: 0.9;
    cursor: pointer;
}

.imagelink {
    color: transparent;
    border-radius: 100%;
}

.imagelink:hover {
    opacity: 0.2;
}

.pagelink {
    text-align: center;
    font-size: 0.95rem;
    padding-top: 5%;
    user-select: none;
}

.pagelinktext {
    color: #50fa7b;
    font-style: normal;
}

.pagelinktext:hover {
    color: #3fbb5e;
    font-style: normal;
}

.footertext {
    color: 	#bd93f9;
}

.copyrightlink {
    color: 	#bd93f9;
}

.copyrightlink:hover {
    color: 	#a782db;
    cursor: pointer;
}

.h2center {
    text-align: center;
}

.pgreen {
    color: #50fa7b;
}

.porange {
    color: #ffb86c;
}

.ulunstyle {
    font-size: 1.2rem;
    list-style-type: none;
    margin: 0%;
    padding: 0%; 
}

.topli {
    color: #f1fa8c;
    font-size: 1.2rem;
    font-weight: bold;
    list-style: none;
}

.insideul {
    font-size: 1.2rem;
    font-weight: normal;
    list-style: default;
}

.projetoslink {
    text-decoration: underline;
}

::-moz-selection { /* Code for Firefox */
    background: #44475a;
}
  
::selection {
    background: #44475a;
}